NAME=XG7Bot
AVATAR=https://images-ext-1.discordapp.net/external/uo_h66Gk9WAQgmE5CgOhdxhYMDyaO9VZz9RfQhbVv6E/%3Fsize%3D2048/https/cdn.discordapp.com/avatars/1167899920334868540/4f2eb7d4f207601be7af0723e3f296ac.png?format=webp&quality=lossless&width=588&height=588
TYPE=bot
MAIN=Main.java
RAM=100
AUTORESTART=true
VERSION=latest
APT=tools